<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


<div th:replace="fragments/menu.html :: top-menu"/>

<div class="w3-container w3-margin">


    <div class="w3-container w3-green">
        <h3>All Users</h3>
    </div>

    <div style="height: 24px;"></div>
    <table class="w3-table w3-striped w3-bordered">
        <div th:each="user : ${users}" class="w3-container">
            <tr>
                <td><h3 th:text="${user.firstName} + '  ' + ${user.lastName}">Name</h3></td>
                <td><a th:href="'/user/delete?id=' + ${user.id}" href="#" class="w3-button w3-red">Delete</a></td>
                <td><a th:href="'/user/edit?id=' + ${user.id}" href="#" class="w3-button w3-orange w3-margin-left">Edit</a></td>
            </tr>
        </div>
    </table>
    <div style="height: 24px;"></div>
    <div class="w3-container">
        <a class="w3-button w3-right  w3-green w3-large" href="/user/add">Add user</a>
    </div>


</div>

</body>
</html>