<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Edit User</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="w3-light-grey">


<div th:replace="fragments/menu.html :: top-menu"/>

<div class="w3-container">
    <br/>

    <div class="w3-card w3-white">
        <div class="w3-container w3-green"><h3>Edit User</h3></div>

        <div class="w3-container">
            <form th:object="${user}" action="/user/edit" method="post">
                <h3 th:text="'Id: ' + ${user.id}">ID</h3>
                <input type="hidden" th:value="${user.id}" th:field="*{id}"/>
                <input type="hidden" th:value="${user.password}" th:field="*{password}"/>
                <input type="hidden" value="1" th:field="*{active}"/>
                <h3>First Name:</h3>
                <input value="" type="text" th:field="*{firstName}" class="w3-input w3-border"/>
                <br/>
                <h3>Last Name:</h3>
                <input value="" type="text" th:field="*{lastName}" class="w3-input w3-border"/>
                <br/>
                <h3>Email:</h3>
                <input value="" type="text" th:field="*{email}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="w3-input w3-border"/>
                <br/>
                <h3>Password(5 or more characters):</h3>
                <h6>enter new if you want to change</h6>
                <input value="" type="password"   name="pass" class="w3-input w3-border"/>
                <br/>
                <h3>Roles:</h3>
                <ul>
                    <li th:each="role : ${roless}">
                        <input type="checkbox" th:field="*{roles}" th:value="${role.id}" />
                        <label th:for="${#ids.prev('roles')}" th:text="${role.role}">Heating</label>
                    </li>
                </ul>
                <div style="height: 24px;"></div>
                <input type="submit" class="w3-button w3-green  w3-margin-bottom" value="Save"/>

            </form>

        </div>
    </div>
</div>
</body>
</html>